//Fonts
$poppins : 'Poppins', sans-serif;


// Tamaño de Media Queries
$telefono: 375px;
$desktop: 1280px;

//Colors
//Primary
$red: hsl(0, 100%, 74%);
$green : hsl(154, 59%, 51%);
//Acent
$blue: hsl(248, 32%, 49%);
//Neutral
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);

$fontSize: 1.6rem;